<div class="container">
<form (ngSubmit)="updateData()"> 
 <div class="form-group">
 	<label>Name:</label>
 	<input type="text" name="name" [(ngModel)]="employee.name" class="form-control">
 </div>
 <div class="form-group">
 	<label>Email:</label>
 	<input type="email" name="email" [(ngModel)]="employee.email" class="form-control">
 </div>
 <div class="form-group">
 	<label>Salery:</label>
 	<input type="text" name="salery" [(ngModel)]="employee.salery" class="form-control">
 </div>
    <div class="form-group">
  <label>Hobby:</label>

  <div *ngFor="let obj of hobbyArr"> 
  <input type="checkbox" name="hobby" value="{{obj.value}}" (change)="selecthobby($event)" [checked]="selectedHobby.indexOf(obj.value) != -1" >{{obj.key}}
 </div>

 <div class="form-group">
  <label>Country:</label>
  <select  name="country" [(ngModel)]="employee.country" class="form-control" (change)="getState($event)">
    <option value="">Select Country</option>
    <option *ngFor="let obj of countryArr" value="{{obj.id}}">{{ obj.name }}</option>
  </select>
 </div>

  <div class="form-group">
  <label>State:</label>
  <select  name="state" [(ngModel)]="employee.state" class="form-control" (change)="getCity($event)">
    <option value="">Select State</option>
    <option *ngFor="let obj of stateArr" value="{{obj.id}}" >{{obj.name}}</option>
  </select>
 </div>


  <div class="form-group">
  <label>City:</label>
  <select  name="city" [(ngModel)]="employee.city" class="form-control">
    <option value="">Select City</option>
    <option *ngFor="let obj of cityArr" value="{{obj.id}}">{{obj.name}}</option>
  </select>
 </div>

 </div>
 <div class="form-group">
 	<input type="submit" name="Insert" value="Update" class="btn btn-primary">
 </div>
</form>
</div>